@charset "UTF-8";

div.conteiner{
    background-color: lightcoral;
    display: flex;
    height: 300px;
    flex-flow: row wrap;
    justify-content: space-around;/*O justify-content alinha os elementos no eixo horizontal*/
    align-items: center; /*O align-items alinha os elementos no eixo vertical*/
    
    /*O junstify-content vai fazer o alinhamento em relação ao main-axis(eixo principal)
    Existem 2 tipos de justify-content
    >flex-star (fica no inicio do eixo principal "main-start)

    >flex-end (fica no final do eixo principal "main-end")

    >flex-center(fica no centro do eixo principal "main-axis")

    ALINHAMENTO DE ESPAÇAMENTO
    >Justify-content: space-between (Ele coloca o 1º item no main-star e o último item no main-end)
    OBS: Todos os outros itens irão estar no meio ou com espaçamento iguais entre eles.

     >Justify-content: space-evenly (Ele não gruda o 1º e o último elemento nas extremidades do "conteiner". Ele coloca antes, entre e depois dos itens os mesmos espaçamentos iguais).

     <Justify-content: space-around ( Ele centraliza dentro do "conteiner" os itens dentro dos espaços iguais criados de acordo com a quantidade de itens para o "conteiner".


     Align-items é sempre no eixo transversal (cross-axis)
     OBS: Para ailinhar o no "cross axis" tem que dar uma aumentanda na altura do "conteirner". Quando aumenta a altura da um distanciamento entre o cross-start e o cross-end.
     
     >Align-items:stretch (esticar)
     >Align-items:flex-start (ele sempre começara no inicio do eixo transversal ou seja no cross-star
     >Align-items:flex-end  (ele sempre começara no final do eixo transversal ou seja no cross-end
     >Align-items:flex-center (ele sempre começara no meio do eixo transversal)

     OBS: O align-itens não tem a opção de espaçamento. 

    */



}
div.item{
    background-color: blue;
    border: 1px solid black;
    text-align: center;
    
    
}
