@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
div.conteiner{
    background-color: lightcoral;
    height: 150px;
    display: flex;
    flex-flow: row wrap;

    /* Esses dois aqui podem ser substituidos por esse de cima
    flex-direction: row;
    flex-wrap: nowrap;*/
    



}
div.item{
    background-color: blue;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    flex: auto;
    
    
}
