@charset "UTF-8";

div.conteiner{
    background-color: lightcoral;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start; /*Deixa os elementos em no inicio do eixo horizontal(principal) e no inicio do tranversal (cross-star)*/
    height: 400px;

    /*SÓ POSSO USAR O ALIN-CONTENT QUANDO ESTOU USANDO O WRAP*/

}
div.item{
    background-color: blue;
    border: 1px solid black;
    text-align: center;
    padding: 40px;
    
    
}
