@charset "UTF-8";

@font-face {
    font-family: Comic;
    src: url(../fontes/comici.ttf) format('truetype');
    font-weight: normal;
}

:root{
--fonte-destaque:"Comic",cursive;

}

body{
    font-family: var(--fonte-destaque);
    color: rgb(0, 255, 21);
}