@charset "UTF-8";

@font-face {
    font-family: Comici;
    src: url(../fontes/comici.ttf) format('truetype');
    font-weight: normal;
}

:root{
    --fonte-destaque: "Comici", sans-serif;

}

body{
    font-family: var(--fonte-destaque);
    color: rgb(51, 255, 0);
}